.forecast{
    background-color: #333;
    display: flex;
    flex-direction: column;
    width: auto;
    height: 700px;
    margin-left: 50px;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 6px;
}

/* Hourly & Daily */
.forecast-container{
    background-color: #1272d5;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border-radius: 10px;
    padding: 9px;
    width: 95%;
    height: auto;
}
.forecast-title{
    color: rgb(42 62 62 / 88%);
    font-size: x-large;
    font-weight: 500;
    padding-left: 20px;
}
.forecast-heading{
    display: flex;
    align-items: center;
}
.forecast-data{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: nowrap;
    /* overflow-x: scroll; */
    padding: 0 5px;
}
.forecast-item{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.forecast-temperature{
    font-weight: 600;
    font-size: 1.2rem;
}

/* Others */
.hourlyForecastSVG{
    stroke-width: 0.08rem;
}
hr{
    width: 95%;
}
/* Med & Small Screens:  */
@media(max-width:1050){
    .forecast-container{
        flex-wrap: wrap;
        align-content: space-around;
        overflow: scroll;
    }
}
@media (max-width:760px) {
    .forecast{
        width: 90%;
        margin-left: 15px;
    }
}
